<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- The content will be generated during build -->
  <Section Name="RcActorServiceMigrationConfig">
    <Parameter Name="CopyPhaseParallelism" Value="2" />
    <Parameter Name="SourceServiceUri" Value="fabric:/KvsAppForMigration/KvsActorService" />
    <Parameter Name="TargetServiceUri" Value="fabric:/MigrationTestApp/RcActorService" />
    <Parameter Name="ChunksPerEnumeration" Value="1000" />
    <Parameter Name="KeyValuePairsPerChunk" Value="100" />
    <Parameter Name="MigratedDataValidationPhaseParallelism" Value="4" />
    <Parameter Name="DowntimeThreshold" Value="2000" />
    <Parameter Name="MigrationMode" Value="Auto" />
  </Section>
  <Section Name="RcActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="RcActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="RcActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
</Settings>